/.vscode
/AmfMedia-4.17
/AmfMedia-4.17-amfdev
/AmfMedia-4.17-gpuopen
/AmfMedia-4.18
/AmfMedia-4.18-amfdev
/AmfMedia-4.18-gpuopen
/AmfMedia-4.19
/AmfMedia-4.19-amfdev
/AmfMedia-4.19-gpuopen
/AmfMedia-4.20
/AmfMedia-4.20-amfdev
/AmfMedia-4.20-gpuopen
/AmfMedia-4.21
/AmfMedia-4.21-amfdev
/AmfMedia-4.21-gpuopen
/AmfMedia-4.22
/AmfMedia-4.22-amfdev
/AmfMedia-4.22-gpuopen
/AmfStitchMedia-4.18
/AmfStitchMedia-4.18-amfdev
/AmfStitchMedia-4.18-gpuopen
/AmfStitchMedia-4.19
/AmfStitchMedia-4.19-amfdev
/AmfStitchMedia-4.19-gpuopen
/AmfStitchMedia-4.20
/AmfStitchMedia-4.20-amfdev
/AmfStitchMedia-4.20-gpuopen
/AmfStitchMedia-4.21
/AmfStitchMedia-4.21-amfdev
/AmfStitchMedia-4.21-gpuopen
/AmfStitchMedia-4.22
/AmfStitchMedia-4.22-amfdev
/AmfStitchMedia-4.22-gpuopen
/UnrealEngine-4.17
/UnrealEngine-4.17-amf
/UnrealEngine-4.18
/UnrealEngine-4.18-amf
/UnrealEngine-4.18-amf-clean
/UnrealEngine-4.18-stitch
/UnrealEngine-4.19
/UnrealEngine-4.19-amf
/UnrealEngine-4.19-stitch
/UnrealEngine-4.20
/UnrealEngine-4.20-amf
/UnrealEngine-4.20-stitch
/UnrealEngine-4.21
/UnrealEngine-4.21-amf
/UnrealEngine-4.21-stitch
/UnrealEngine-4.22
/UnrealEngine-4.22-amf
/UnrealEngine-4.22-stitch
/UE-4.17
/UE-4.17-amf
/UE-4.18
/UE-4.18-amf
/UE-4.18-amf-clean
/UE-4.18-stitch
/UE-4.19
/UE-4.19-amf
/UE-4.19-stitch
/UE-4.20
/UE-4.20-amf
/UE-4.20-stitch
/UE-4.21
/UE-4.21-amf
/UE-4.21-stitch
/UE-4.22
/UE-4.22-amf
/UE-4.22-stitch
/Logs