/.vscode
/AmfMedia-4.17
/AmfMedia-4.17-amfdev
/AmfMedia-4.18
/AmfMedia-4.18-amfdev
/AmfMedia-4.19
/AmfMedia-4.19-amfdev
/AmfMedia-4.20
/AmfMedia-4.20-amfdev
/AmfStitchMedia-4.18
/AmfStitchMedia-4.18-amfdev
/AmfStitchMedia-4.19
/AmfStitchMedia-4.19-amfdev
/AmfStitchMedia-4.20
/AmfStitchMedia-4.20-amfdev
/UnrealEngine-4.17
/UnrealEngine-4.17-amf
/UnrealEngine-4.18
/UnrealEngine-4.18-amf
/UnrealEngine-4.18-amf-clean
/UnrealEngine-4.18-stitch
/UnrealEngine-4.19
/UnrealEngine-4.19-amf
/UnrealEngine-4.19-stitch
/UnrealEngine-4.20
/UnrealEngine-4.20-amf
/UnrealEngine-4.20-stitch
/Logs